@charset "utf-8";
@import url(https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto);

.card-body {
    padding: 0.5rem;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}

.h5, h5 {
    font-size: 2.25rem;
    color: #000000;
    font-family: 'League Gothic', sans-serif;
}
.h2, h2 {
    font-size: 3.25rem;
    color: #000000;
    font-family: 'League Gothic', sans-serif;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.cardSet1{
    background-color: #669999;
}

.cardSet2{
    background-color: #cc6666;
}
.cardSet3{
    background-color: #cc9966;
}
